<div class="background">
  <img src="assets/icons/spotify petit format logo.PNG" class="small-logo">
  <div class="bar"></div>
<div class="container" >
    <div class="row">
     <div class="col-6">
       <div class="row">
         <div class=" col-10 position">
           <h1  class="writing-style">Música para todos.</h1>
         </div>
         <div class=" col-8">
          <h3 class="writing-style">Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.</h3>
         </div>
         <div class="col-8 mt-4  ">
          <a  mat-raised-button class="button-style" href="https://accounts.spotify.com/authorize?response_type=token&client_id=43027b427dce49ffbf513b791e5aae21&scope=user-read-private user-read-email&redirect_uri=http://localhost:4200/check_token&show_dialog=true"  >Conectar com Spotify</a>
        </div>
        </div>
    
    </div>
    <div class="col-6 position-logo">
        <img src="assets/icons/grand format logo spotify.PNG" >
      </div>
   </div>
  </div>
  </div>